<!--<h2>♡</h2>-->

<!--<table>-->
<!--  <%# if @range == "Friend" %>-->
<!--    <tbody>-->
<!--      <%# @friends.each do |friend| %>-->
<!--        <tr>-->
<!--          <td><%#= friend.name %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  <%# else %>-->
<!--    <tbody>-->
<!--      <%# @present_lists.each do |present_list| %>-->
<!--        <tr>-->
<!--          <td><#%= present_list.date %></td>-->
<!--          <td><%#= present_list.name %></td>-->
<!--          <td><%#= present_list.item %></td>-->
<!--          <td><%#= present_list.scene %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  <%# end %>-->
<!--</table>-->
