<div class="columns">
  <%= render 'layouts/list' %>
</div>

<div class="columns pt-6 ">
  <%= render 'public/present_lists/form', present_list: @present_list %>
  <div class="column is-two-thirds pl-6">
  <%= render 'public/present_lists/index', present_lists: @records %>
  </div>
</div>


