<div class="columns">
  <div class="column is-4">
    <aside>追加</aside>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="name" placeholder="Name">
          <span class="icon is-small is-left">
            <i class="fa-thin fa-user-pen"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <span class="select">
            <select>
              <option selected>友達</option>
              <option>家族</option>
              <option>先輩</option>
              <option>ママ友</option>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fa-thin fa-people-arrows-left-right"></i>
          </span>
        </p>
      </div>
  </div>

</div>