    <h2>Friends</h2>
      <% friends.each do |friend| %>
        <p>お名前</p>
        <span><%= friend.name %></span>
        <p>誕生日</p>
        <span><%= friend.birthdate %></span>
        <%#= link_to "ギフト", present_lists_path(friend.id) %>
      <% end %>