
  <% friends.each do |friend| %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>なまえ</td>
          <td>誕生日</td>
        </tr>
        <tr>
          <th><%= friend.name %></th>
          <th><%= friend.birthdate %></th>
        </tr>
      </tbody>
    </table>
  <% end %>