<% friends.each do |friend| %>


    <table class="table table-bordered">
      <tbody>
        <tr>
          <th><%= image_tag friend.get_image,size:"50x50" %></th>
          <th><i class="fa fa-child "> <%= friend.name %></i></th>
          <th><i class="fa fa-birthday-cake"> <%= friend.birthdate %></i></th>
        </tr>
      </tbody>
    </table>
<% end %>
