<div class="columns">
  <%= render 'layouts/list' %>
</div>

<div class="columns pt-6 ">

  <%= render 'public/friends/form', friend: @friend %>

  <div class="column is-two-thirds pl-6">
      <%= render 'public/friends/index', friends: @friends, friend: @friend %>
  </div>
</div>


