<div class="columns">
  <%= render 'layouts/list' %>
</div>

<div class="columns pt-6 ">

  <%= render 'public/friends/form', friend: @friend %>

  <div class="column is-two-thirds pl-6">
      <%= render 'public/friends/index', friends: @friends, friend: @friend %>
  </div>
</div>


    <!--User.name_lists.each do |name_list|-->
    <!--  url = "localhost:3000/present_lists?name_list_id${name_list.id}"-->
    <!--  # url === localhost:3000/present_lists?name_list_id=1-->

    <!--end-->